body {
    font-family: 'Montaga', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    font-weight: 700px;
    color: white;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 20px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}