body {
    font-family: 'Montaga', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orangered;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    font-weight: 700px;
    color: white;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 20px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    box-shadow: 10px 10px 40px rgb(54, 49, 49);
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

#full-stack-developer {
    border-left: 7px solid red;
}

#baby-web-developer {
    border-left: 7px solid blue;
}